<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.tempstop.EmailOnAwayPlugin</class>

    <name>Email on Away</name>
    <description>Messages sent to alternate location when recipient is away</description>
    <author>Nick Mossie</author>
    <version>${project.version}</version>
    <date>2023-12-27</date>
    <minServerVersion>4.4.0</minServerVersion>

</plugin>
